.player-cursor {
  position: absolute;
  z-index: 100;
  color: white;

  transition:
    top 0.1s ease,
    left 0.1s ease;

  mat-icon {
    text-shadow: -2px 2px 2px black;
  }

  span {
    text-shadow: 2px 2px 2px black;
  }
}

.player-regdar {
  color: red !important;
}

.player-mialye {
  color: cornflowerblue !important;
}

.player-jozan {
  color: lightgreen !important;
}

.player-lidda {
  color: yellow !important;
}
