.adventure-container {
  position: relative;
}

.adventure-board-background {
  height: 700px;
  width: 700px;
  position: absolute
}

.adventure-board-item {
  background-size: contain !important;
  position: absolute;
  background: none no-repeat center center;
  height: 100%;
  width: 100%;

  &.selected {
    border: red 3px solid;
  }
}

.selected {
  border: white 3px solid;
}

.trap-visible {
  border: red 2px solid;
}

.chest-with-card {
  border: gold 2px solid;
}

gridster {
  background: none !important;
}
