<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!-- use Spring default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOGS" value="logs"/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <!--            <pattern>%d{HH:mm:ss.SSS} [%t] %highlight(%-5level) %cyan(%logger{15}) - %msg%n</pattern>-->
        </encoder>
    </appender>

    <appender name="Application" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOGS}/application.log.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <!--            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %logger - %msg%n</pattern>-->
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <logger name="com.exasky.dnd" level="DEBUG" additivity="false">
            <appender-ref ref="Application"/>
            <appender-ref ref="Console"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="Application"/>
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

    <springProfile name="production">
        <logger name="com.exasky.dnd" level="DEBUG" additivity="false">
            <appender-ref ref="Application"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="Application"/>
        </root>
    </springProfile>
</configuration>
