@if (adventure) {
  @if (authService.isGM()) {
    <mat-tab-group color="accent" class="flex-grow">
      <mat-tab label="GM">
        <app-gm-action-panel
          [adventureId]="adventure.id"
          [initiatives]="characterTurns"
          [monsters]="monsters"
          [characters]="adventure.characters"
          [selectedMonsterId]="selectedMonsterId"
          (selectMonster)="selectMonster($event)"
        ></app-gm-action-panel>
      </mat-tab>
      <mat-tab label="Characters">
        <ng-template mat-tab-label>{{ "adventure.gm-panel.characters" | translate }}</ng-template>
        <ng-template matTabContent>
          <mat-tab-group color="accent" class="flex-grow">
            @for (character of characters; track $index) {
              <mat-tab>
                <ng-template mat-tab-label>
                  @if (currentTurn?.characterName === character.name) {
                    <mat-icon color="warn" class="mr-1"> radio_button_checked </mat-icon>
                  }
                  @if (character.hp === 0) {
                    <span class="mdi mdi-skull" style="color: red; font-size: 150%"></span>
                  }
                  {{ character.name | capitalize }}
                </ng-template>
                <app-character-mobile-displayer
                  [editable]="true"
                  [adventureId]="adventure.id"
                  [character]="character"
                />
              </mat-tab>
            }
          </mat-tab-group>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  } @else {
    <mat-tab-group color="accent" class="flex-grow">
      @for (character of characters; track $index) {
        <mat-tab>
          <ng-template mat-tab-label>
            @if (currentTurn?.characterName === character.name) {
              <mat-icon color="warn" class="mr-1">radio_button_checked </mat-icon>
            }
            @if (character.hp === 0) {
              <span class="mdi mdi-skull" style="color: red; font-size: 150%"></span>
            }
            {{ character.name | capitalize }}
          </ng-template>
          <app-character-mobile-displayer [character]="character" />
        </mat-tab>
      }
    </mat-tab-group>
  }
}
