<ng-container *ngIf="adventure">
  <ng-container *ngIf="authService.isGM">
    <mat-tab-group class="flex-grow">
      <mat-tab label="GM">
        <app-gm-action-panel [adventureId]="adventure.id"
                             [initiatives]="characterTurns"
                             [monsters]="monsters"
                             [characters]="adventure.characters"
                             [selectedMonsterId]="selectedMonsterId"
                             (selectMonster)="selectMonster($event)"></app-gm-action-panel>
      </mat-tab>
      <mat-tab label="Characters">
        <ng-template mat-tab-label>Characters</ng-template>
        <mat-tab-group class="flex-grow">
          <mat-tab *ngFor="let character of characters">
            <ng-template mat-tab-label>
              <mat-icon *ngIf="currentTurn && currentTurn.characterName === character.name"
                        color="warn"
                        class="mr-1">
                radio_button_checked
              </mat-icon>
              {{character.name.charAt(0).toUpperCase() + character.name.slice(1)}}
            </ng-template>
            <app-character-mobile-displayer [editable]="true"
                                            [adventureId]="adventure.id"
                                            [character]="character"></app-character-mobile-displayer>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <ng-container *ngIf="!authService.isGM">
    <mat-tab-group *ngIf="!authService.isGM" class="flex-grow">
      <mat-tab *ngFor="let character of characters">
        <ng-template mat-tab-label>
          <mat-icon *ngIf="currentTurn && currentTurn.characterName === character.name"
                    color="warn"
                    class="mr-1">radio_button_checked
          </mat-icon>
          {{character.name.charAt(0).toUpperCase() + character.name.slice(1)}}
        </ng-template>
        <app-character-mobile-displayer [character]="character"></app-character-mobile-displayer>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</ng-container>
