<mat-card class="flex-grow m-2 overflow">
  <mat-card-content class="d-flex flex-column align-items-center">
    @if (!editable && character.name) {
      <img width="50%" [src]="character | getCharacterImage: 'card'" />
    }

    @if (editable) {
      <div class="d-flex w-100 justify-content-around">
        <div class="d-flex flex-column">
          <mat-label style="padding-left: 8px">{{ "common.hp" | translate }}</mat-label>
          <mat-slider
            color="primary"
            [min]="0"
            [max]="character.maxHp"
            [step]="1"
            discrete
            showTickMarks
            (change)="updateCharacter(character)"
          >
            <input matSliderThumb [(ngModel)]="character.hp" />
          </mat-slider>
        </div>
        <div class="d-flex flex-column">
          <mat-label style="padding-left: 8px">{{ "common.max-hp" | translate }}</mat-label>
          <mat-slider
            color="primary"
            [min]="0"
            max="20"
            [step]="1"
            discrete
            showTickMarks
            (change)="updateCharacter(character)"
          >
            <input matSliderThumb [(ngModel)]="character.maxHp" />
          </mat-slider>
        </div>
      </div>
      <div class="d-flex w-100 justify-content-around">
        <div class="d-flex flex-column">
          <mat-label style="padding-left: 8px">{{ "common.mp" | translate }}</mat-label>
          <mat-slider
            color="primary"
            [min]="0"
            [max]="character.maxMp"
            [step]="1"
            discrete
            showTickMarks
            (change)="updateCharacter(character)"
          >
            <input matSliderThumb [(ngModel)]="character.mp" />
          </mat-slider>
        </div>
        <div class="d-flex flex-column">
          <mat-label style="padding-left: 8px">{{ "common.max-mp" | translate }}</mat-label>
          <mat-slider
            color="primary"
            [min]="0"
            max="20"
            [step]="1"
            discrete
            showTickMarks
            (change)="updateCharacter(character)"
          >
            <input matSliderThumb [(ngModel)]="character.maxMp" />
          </mat-slider>
        </div>
      </div>
    } @else {
      <section class="status-bar w-100">
        <mat-progress-bar mode="determinate" [value]="(character.hp * 100) / character.maxHp" />
        <div class="status-bar-text">{{ "common.hp" | translate }} : {{ character.hp }} / {{ character.maxHp }}</div>
      </section>
      @if (character.maxMp) {
        <section class="status-bar w-100">
          <mat-progress-bar mode="determinate" [value]="(character.mp * 100) / character.maxMp" />
          <div class="status-bar-text">{{ "common.mp" | translate }} : {{ character.mp }} / {{ character.maxMp }}</div>
        </section>
      }
    }

    <div mat-subheader>
      {{ "common.equipped" | translate }}
      @if (editable) {
        <button mat-icon-button (click)="openSelectCardEquippedItem()">
          <mat-icon>add</mat-icon>
        </button>
      }
    </div>
    <div
      class="w-100 d-flex align-items-center justify-content-center"
      style="overflow-y: hidden; min-height: 100px"
      dragOver
      (drop)="addEquippedItem($event)"
    >
      @if (character.equippedItems.length === 0) {
        <div>{{ "common.drag&drop" | translate }}</div>
      } @else {
        @for (item of character.equippedItems; track $index) {
          <div class="m-auto position-relative">
            <img
              [src]="item | getCardImage"
              draggable="true"
              (dragstart)="equipmentDragStartHandler($event, item)"
              width="150px"
              height="230px"
            />
            @if (editable) {
              <button mat-mini-fab style="position: absolute; top: 0; left: 73px" (click)="removeEquipmentItem(item)">
                <mat-icon>delete</mat-icon>
              </button>
            }
          </div>
        }
      }
    </div>
    <div mat-subheader>
      {{ "common.backpack" | translate }}
      @if (editable) {
        <button mat-icon-button (click)="openSelectCardBackPackItem()">
          <mat-icon>add</mat-icon>
        </button>
      }
    </div>
    <div
      class="w-100 d-flex align-items-center justify-content-center"
      style="overflow-y: hidden; min-height: 100px"
      dragOver
      (drop)="addBackPackItem($event)"
    >
      @if (character.backpackItems.length === 0) {
        <div>{{ "common.drag&drop" | translate }}</div>
      } @else {
        @for (item of character.backpackItems; track $index) {
          <div class="m-auto" style="position: relative">
            <img
              [src]="item | getCardImage"
              draggable="true"
              class="m-auto"
              (dragstart)="backpackDragStartHandler($event, item)"
              width="150px"
              height="230px"
            />
            @if (editable) {
              <button mat-mini-fab style="position: absolute; top: 0; left: 73px" (click)="removeBackpackItem(item)">
                <mat-icon>delete</mat-icon>
              </button>
            }
          </div>
        }
      }
    </div>
  </mat-card-content>
</mat-card>
