@use "@angular/material" as mat;

@use "mat-drawer";

html {
  color-scheme: light;
}
@include mat.theme(
  (
    color: mat.$cyan-palette,
    typography: Roboto,
    density: 0,
  )
);

body.dark-mode {
  color-scheme: dark;
  background-image: url("/assets/wallpaper/dark.jpg") !important;

  img {
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    filter: url(#brightness);
    filter: brightness(80%);
  }
}
