@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-light-blue);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

$my-theme-primary: mat-palette($mat-indigo, 700, 300, 900);
$my-theme-accent: mat-palette($mat-light-blue);
$my-theme-warn: mat-palette($mat-deep-orange, A200);
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

// Include the default theme styles.
//@include angular-material-theme($candy-app-theme);
@include angular-material-theme($my-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-indigo, 600);
$dark-accent: mat-palette($mat-brown);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
$my-dark-theme-background: map_merge($mat-dark-theme-background, (background: #323232));
.unicorn-dark-theme {
  @include angular-material-theme(
      (primary: $dark-primary,
        accent: $dark-accent,
        warn: $dark-warn,
        is-dark: true,
        foreground: $mat-dark-theme-foreground,
        background: $my-dark-theme-background)
  );

  img {
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    filter: url(#brightness);
    filter: brightness(80%);
  }
}
