<div class="flex-grow d-flex justify-content-center align-items-center flex-wrap">
  <mat-card *ngFor="let user of users" class="m-3">
    <mat-card-header class="d-flex align-items-center">
      <mat-card-title>
        <button mat-icon-button (click)="editUser(user)">
          <mat-icon>edit</mat-icon>
        </button>
        {{user.username}}
        <button mat-icon-button (click)="deleteUser(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Role</mat-label>
        <input matInput [value]="user.role" disabled>
      </mat-form-field>
      <div *ngFor="let character of user.characters">
        <mat-form-field>
          <mat-label>Campaign</mat-label>
          <input matInput [value]="character.campaignName" disabled>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Character</mat-label>
          <input matInput [value]="character.name" disabled>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<button mat-raised-button *ngIf="!newUser" (click)="createUser()">Create User</button>

<div *ngIf="newUser" class="flex-shrink-0 d-flex justify-content-center">
  <mat-card class="d-flex flex-column">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="newUser.username" placeholder="Username" required autocomplete="false">
    </mat-form-field>
    <mat-form-field *ngIf="newUser.id === undefined">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="newUser.password" placeholder="Password" type="password" required
             autocomplete="false">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select [(ngModel)]="newUser.role">
        <mat-option value="ROLE_GM">GM</mat-option>
        <mat-option value="ROLE_PLAYER">Player</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Characters</mat-label>
      <mat-select multiple [(ngModel)]="selectedCharacters">
        <mat-optgroup *ngFor="let campaign of campaigns" [label]="campaign.name">
          <mat-option *ngFor="let character of campaign.characters"
                      [value]="character.id">
            {{character.name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <mat-card-actions class="d-flex justify-content-center">
      <button mat-raised-button (click)="cancel()">Cancel</button>
      <button mat-raised-button (click)="saveUser()">Save User</button>
    </mat-card-actions>
  </mat-card>
</div>
