<div class="left-panel">
  <div class="users">
    <button mat-raised-button (click)="createUser()">
      <mat-icon class="mr-2">add</mat-icon>
      {{ "common.create" | translate }}
    </button>
    @for (user of users; track user.id) {
      <button [matButton]="selectedUser?.id == user.id ? 'filled' : 'elevated'" (click)="selectUser(user)">
        {{ user.username }}
      </button>
    }
  </div>
</div>

<div class="user-detail">
  @if (selectedUser) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          @if (selectedUser.username) {
            {{ selectedUser.username }}
          } @else {
            {{ "user.new" | translate }}
          }
        </mat-card-title>
        <div class="actions">
          @if (!isEdit) {
            <button matButton="elevated" (click)="editUser()">
              <mat-icon>edit</mat-icon>
              {{ "common.edit" | translate }}
            </button>
            @if (selectedUser.id) {
              <button matButton="elevated" (click)="deleteUser()">
                <mat-icon>delete</mat-icon>
                {{ "common.delete" | translate }}
              </button>
            }
          } @else {
            <button matButton="elevated" (click)="cancel()">
              <mat-icon>undo</mat-icon>
              {{ "common.cancel" | translate }}
            </button>
            <button matButton="elevated" (click)="saveUser()">
              <mat-icon>save</mat-icon>
              {{ "common.save" | translate }}
            </button>
            @if (selectedUser.id) {
              <button matButton="elevated" (click)="resetPassword()">
                <mat-icon>vpn_key</mat-icon>
                {{ "user.reset-password" | translate }}
              </button>
            }
          }
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>{{ "user.username" | translate }}</mat-label>
          <input
            matInput
            [(ngModel)]="userEdit.username"
            placeholder="{{ 'user.username' | translate }}"
            required
            autocomplete="nope"
            [disabled]="!isEdit"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "user.password" | translate }}</mat-label>
          <input
            matInput
            [(ngModel)]="userEdit.password"
            placeholder="{{ 'user.password' | translate }}"
            type="password"
            required
            autocomplete="new-password"
            [disabled]="!isEdit"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select [(ngModel)]="userEdit.role" [disabled]="!isEdit">
            <mat-option value="ROLE_GM">{{ "user.role.gm" | translate }}</mat-option>
            <mat-option value="ROLE_PLAYER">{{ "user.role.player" | translate }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-list>
          @for (campaign of campaigns; track campaign.id) {
            <div mat-subheader>{{ campaign.name }}</div>
            <div class="characters">
              @for (character of campaign.characters; track character.id) {
                <mat-checkbox
                  [checked]="isCharacterSelected(character)"
                  (change)="toggleCharacterSelected($event, character)"
                  [disabled]="!isEdit"
                >
                  {{ character.name }}
                </mat-checkbox>
              }
            </div>
          }
        </mat-list>
      </mat-card-content>
    </mat-card>
  }
</div>
