<div class="flex-grow d-flex flex-column overflow-y">
  <button mat-raised-button class="flex-shrink-0 m-2" [matMenuTriggerFor]="soundMenu">
    <mat-icon>keyboard_arrow_down</mat-icon>
    {{ "adventure.action-panel.volume" | translate }}
  </button>
  <mat-menu #soundMenu="matMenu" [overlapTrigger]="true">
    @for (aS of [audioService, ambientAudioService]; track $index) {
      <div mat-menu-item [disableRipple]="true" (click)="$event.preventDefault(); $event.stopPropagation()">
        <div class="d-flex align-items-center">
          <mat-icon>
            @if (aS.volume === 0) {
              volume_off
            } @else if (aS.volume <= 0.33) {
              volume_mute
            } @else if (aS.volume <= 0.66) {
              volume_down
            } @else {
              volume_up
            }
          </mat-icon>
          <div class="d-flex flex-column">
            <small style="height: 20px">{{ "adventure.action-panel." + aS.getDisplayName() | translate }}</small>
            <mat-slider [max]="1" [min]="0" [step]="0.01">
              <input matSliderThumb [ngModel]="aS.volume" (ngModelChange)="aS.setVolume($event)" #slider />
            </mat-slider>
          </div>
        </div>
      </div>
    }
  </mat-menu>

  <mat-divider class="mx-2 mb-2 mt-0" [inset]="false"></mat-divider>

  <button mat-raised-button color="accent" class="flex-shrink-0 m-2" (click)="rollDices()" [disabled]="disableActions">
    {{ "adventure.action-panel.roll-dices" | translate }}
  </button>

  <mat-divider class="m-2" [inset]="false"></mat-divider>

  @for (charItem of sortedCharacterItems; track $index) {
    <button
      [matButton]="
        currentInitiative && charItem.character.name === currentInitiative.characterName ? 'filled' : 'elevated'
      "
      class="flex-shrink-0 m-2"
      style="text-transform: capitalize"
      [ngbTooltip]="tooltipContent"
      [disableTooltip]="!charItem.character.id"
      [openDelay]="500"
      container="body"
      placement="left"
    >
      {{ charItem.character.name }}
      @if (!isGm(charItem.character)) {
        ({{ charItem.character.userName }})
      }
      <ng-template #tooltipContent>
        <app-character-tooltip-displayer
          [character]="charItem.character"
          [displayCard]="true"
          cardWidth="200"
          cardHeight="300"
        ></app-character-tooltip-displayer>
      </ng-template>
    </button>
  }

  @if (currentInitiative) {
    <mat-divider class="m-2" [inset]="false"></mat-divider>
    <button
      mat-raised-button
      class="flex-shrink-0 m-2"
      [ngbTooltip]="tooltipContent"
      [disableTooltip]="initiatives.length === 0"
      container="body"
      placement="left"
    >
      {{ "adventure.action-panel.current-initiative" | translate }}
      <ng-template #tooltipContent>
        <app-initiative-displayer
          [currentInitiative]="currentInitiative"
          [initiatives]="initiatives"
        ></app-initiative-displayer>
      </ng-template>
    </button>
  }
  @if (authService.isGM()) {
    @if (!currentInitiative) {
      <mat-divider class="m-2" [inset]="false"></mat-divider>
    }
    <button mat-raised-button class="flex-shrink-0 m-2" (click)="rollInitiative()" [disabled]="disableActions">
      {{ "adventure.action-panel.roll-initiative" | translate }}
    </button>
    @if (currentInitiative) {
      <button
        mat-raised-button
        color="accent"
        class="flex-shrink-0 m-2"
        (click)="resetInitiative()"
        [disabled]="disableActions"
      >
        {{ "adventure.action-panel.reset-initiative" | translate }}
      </button>
    }
  }

  <mat-divider class="m-2" [inset]="false"></mat-divider>

  <button
    mat-raised-button
    color="accent"
    class="flex-shrink-0 m-2"
    (click)="endTurn()"
    [disabled]="disableActions || (!isMyTurn && !authService.isGM())"
  >
    {{ "adventure.action-panel.end-turn" | translate }}
  </button>
</div>

@if (!authService.isGM()) {
  <button class="align-self-center" mat-icon-button (click)="openMobileVersion()">
    <mat-icon>open_in_new</mat-icon>
  </button>
} @else {
  <button mat-raised-button color="accent" class="flex-shrink-0 m-2" (click)="prevAdventure()">
    {{ "adventure.action-panel.previous-adventure" | translate }}
  </button>
  <button mat-raised-button color="accent" class="flex-shrink-0 m-2" (click)="nextAdventure()">
    {{ "adventure.action-panel.next-adventure" | translate }}
  </button>
}
