<div class="flex-grow d-flex justify-content-end">
  <button *ngFor="let charItem of sortedCharacterItems"
          mat-raised-button
          [color]="currentInitiative && charItem.character.name === currentInitiative.characterName ? 'warn' : 'primary'"
          class="char-button flex-shrink-0 m-2"
          style="text-transform: capitalize"
          [ngbTooltip]="tooltipContent"
          [disableTooltip]="!charItem.character.id"
          [openDelay]="200"
          [ngStyle]="{'background-image': 'url(\'assets/character/' + charItem.character.name + '-token.jpg\')'}"
          placement="bottom-left">
    <ng-template #tooltipContent>
      <app-character-tooltip-displayer [character]="charItem.character"
                                       [displayCard]="true"
                                       cardWidth="200"
                                       cardHeight="300"></app-character-tooltip-displayer>
    </ng-template>
  </button>
</div>
