<div class="d-flex flex-column align-items-center flex-grow" style="justify-content: space-evenly">
  <mat-card>
    Bienvenue {{authService.currentUserValue.username}} !
  </mat-card>
  <mat-card>
    <mat-card-header>
      Available campaigns:
    </mat-card-header>
    <mat-card-content class="m-5">
      <span *ngIf="campaigns && campaigns.length === 0">No available campaign</span>
      <button *ngFor="let campaign of campaigns"
              mat-button
              (click)="goToAdventure(campaign.currentAdventure)">
        {{campaign.name}}
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="authService.isGM">
    <mat-card-header>Update campaign:</mat-card-header>
    <mat-card-content>
      <button *ngFor="let campaign of campaigns"
              mat-button
              (click)="goToCampaignEditor(campaign.id)">
        {{campaign.name}}
      </button>
    </mat-card-content>
  </mat-card>

  <div class="d-flex flex-column w-50" *ngIf="authService.isGM">
    <button mat-raised-button (click)="createCampaignAdventure()">Create new campaign</button>
  </div>
</div>
