<mat-card class="welcome-card">
  <mat-card-header>
    <mat-card-title> {{ "index.welcome" | translate }} {{ authService.currentUserValue().username }} !</mat-card-title>
  </mat-card-header>
</mat-card>

<div class="main-content">
  <mat-card>
    <mat-card-header>{{ "index.available-campaigns" | translate }}</mat-card-header>
    <mat-card-content>
      @for (campaign of campaigns; track campaign.id) {
        <button
          [disabled]="campaign.currentAdventureId === null"
          mat-button
          (click)="goToAdventure(campaign.currentAdventureId)"
        >
          {{ campaign.name }} - {{ campaign.currentAdventureName }}
          @if (!authService.isGM()) {
            ({{ campaign.currentCharacterDisplayName }})
          }
        </button>
      } @empty {
        <span>{{ "index.no-available-campaigns" | translate }}</span>
      }
    </mat-card-content>
  </mat-card>

  @if (authService.isGM()) {
    <mat-card>
      <mat-card-header>{{ "index.update-campaign" | translate }}</mat-card-header>
      <mat-card-content>
        @for (campaign of campaigns; track campaign.id) {
          <button mat-button (click)="goToCampaignEditor(campaign.id)">
            {{ campaign.name }}
          </button>
        }
      </mat-card-content>
    </mat-card>
  }
</div>

@if (authService.isGM()) {
  <div class="create-campaign">
    <button mat-raised-button (click)="createCampaignAdventure()">{{ "index.create-campaign" | translate }}</button>
  </div>
}
