@use "@angular/material" as mat;

.status-bar {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  position: relative;
}

.status-bar-text {
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
}

.mat-progress-bar {
  height: 30px;
}

.hp-bar {
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: rgb(238, 66, 66),
    )
  );
}

.mp-bar {
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: rgb(80, 80, 233),
    )
  );
}
