.status-bar {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  position: relative;
}

.status-bar-text {
  position: absolute;
  padding: 10px;
  left: 0;
  right: 0;
  color: white;
  display: flex;
  justify-content: center;
}

.mat-progress-bar {
  height: 30px;
}
