<!-- Equipped items-->
<div class="d-flex flex-2">
  <div *ngIf="character.equippedItems.length !== 0"
       class="flex-grow d-flex justify-content-around align-items-center flex-wrap">
    <img *ngFor="let item of character.equippedItems"
         [src]="'assets/card/' + item.type.toLowerCase() + '/' + item.level + '/' + item.name + '.jpg'"
         [width]="cardWidth" [height]="cardHeight">
  </div>
  <div *ngIf="character.equippedItems.length === 0"
       class="flex-grow d-flex justify-content-center align-items-center">
    No Equipped item !
  </div>
</div>

<div class="d-flex flex-column justify-content-around flex-1">
  <div class="d-flex justify-content-center" style="text-transform: capitalize">{{character.name}}</div>
  <section class="status-bar mx-2">
    <mat-progress-bar color="warn" mode="determinate" [value]="(character.hp * 100) / character.maxHp">
    </mat-progress-bar>
    <div class="status-bar-text">HP : {{character.hp}} / {{character.maxHp}}</div>
  </section>
  <section class="status-bar mx-2" *ngIf="character.maxMp">
    <mat-progress-bar color="accent" mode="determinate" [value]="(character.mp * 100) / character.maxMp">
    </mat-progress-bar>
    <div class="status-bar-text">MP : {{character.mp}} / {{character.maxMp}}</div>
  </section>

  <img *ngIf="character.name" [width]="characterWidth" [src]="'assets/character/' + character.name.toLowerCase() + '.jpg'">
</div>

<!-- Backpack items-->
<div class="d-flex flex-2">
  <div *ngIf="character.backpackItems.length !== 0"
       class="flex-grow d-flex justify-content-around align-items-center flex-wrap">
    <img *ngFor="let item of character.backpackItems"
         [src]="'assets/card/' + item.type.toLowerCase() + '/' + item.level + '/' + item.name + '.jpg'"
         [width]="cardWidth" [height]="cardHeight">
  </div>
  <div *ngIf="character.backpackItems.length === 0"
       class="flex-grow d-flex justify-content-center align-items-center">
    No backpack item !
  </div>
</div>
