<div class="d-flex">
  <div class="d-flex flex-column align-items-center justify-content-evenly">
    {{ "adventure.dialog.dice.attacker" | translate }}
    @if (data.fromAttack.type === LayerElementType.CHARACTER) {
      <div class="position-relative">
        <img
          width="200"
          [src]="data.fromAttack['character'] | getCharacterImage: 'character'"
          [alt]="data.fromAttack['character'].name"
        />
        @if (data.fromAttackWeapon) {
          <img
            width="170"
            class="position-absolute"
            style="bottom: 0; right: 0"
            [src]="data.fromAttackWeapon | getCardImage"
            [alt]="data.fromAttackWeapon.name"
          />
        }
      </div>
    }
    @if (data.fromAttack.type === LayerElementType.MONSTER) {
      <img
        width="200"
        [src]="data.fromAttack['monster'] | getMonsterImage: true"
        [alt]="data.fromAttack['monster'].element.name"
      />
    }
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-evenly flex-wrap mat-elevation-z3 p-2" style="border-radius: 4px">
      @for (dice of allDices; track $index) {
        <div class="m-1">
          <img
            height="70px"
            width="70px"
            style="border-radius: 5px"
            [src]="'assets/dice/' + dice.name + '/1.jpeg'"
            [alt]="dice.name"
            (click)="addToDiceList(dice)"
          />
        </div>
      }
    </div>
    <mat-dialog-content>
      <div class="d-flex flex-wrap justify-content-evenly">
        <!-- DO NOT REMOVE diceCmp. It's used by abstract parent class -->
        <!--suppress JSUnusedGlobalSymbols -->
        @for (dice of selectedDices; track dice.id) {
          <app-dice #diceCmp [diceType]="dice.name" (click)="removeDiceFromList(dice)"></app-dice>
        }
      </div>
    </mat-dialog-content>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-evenly">
    {{ "adventure.dialog.dice.attacked" | translate }}
    @switch (data.toAttack.type) {
      @case (LayerElementType.CHARACTER) {
        <img
          width="200"
          [src]="data.toAttack['character'] | getCharacterImage: 'character'"
          [alt]="data.toAttack['character'].name"
        />
      }
      @case (LayerElementType.MONSTER) {
        <img
          width="200"
          [src]="data.toAttack['monster'] | getMonsterImage: true"
          [alt]="data.toAttack['monster'].element.name"
        />
      }
    }
  </div>
</div>
<mat-dialog-actions class="d-flex justify-content-center position-relative">
  <div class="position-absolute" style="left: 0">
    {{ "adventure.dialog.dice.turn" | translate: { char: data.user.username } }}
  </div>
  @if (!rollDisabled) {
    <button mat-raised-button (click)="rollDices()" [disabled]="selectedDices.length === 0">
      {{ "adventure.dialog.dice.roll" | translate }}
    </button>
  }
  @if (authService.isGM()) {
    <button mat-raised-button color="accent" class="position-absolute" style="right: 0" (click)="this.close()">
      {{ "common.close" | translate }}
    </button>
  }
  @if (rollDisabled) {
    <div>{{ "adventure.dialog.dice.no-turn" | translate }}</div>
  }
</mat-dialog-actions>
