.selected {
  background-color: rgb(160, 160, 160);
  border-radius: 7px;
}

:host-context(.unicorn-dark-theme) .selected {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

::ng-deep.mat-expansion-panel-content {
  overflow: auto !important;
}

@media (min-width: 768px) {
  .initiatives {
    max-width: 300px !important;
  }
}
