<div class="d-flex flex-column">
  <div *ngFor="let monster of monsters" class="d-flex flex-column align-items-center mb-2">
    <mat-card-subtitle>{{monster.name}} n°{{monster.index}}</mat-card-subtitle>
    <div class="d-flex align-items-center">
      <img [src]="'assets/monster/' + monster.name + '.jpg'" width="150px" (click)="selectMonster.emit(monster.layerItemId)">
      <mat-form-field class="mx-2" style="max-width: 50px">
        <mat-label>HP</mat-label>
        <input matInput [(ngModel)]="monster.hp" type="number" min="0">
      </mat-form-field>
    </div>
  </div>
</div>
