<mat-accordion class="d-flex flex-column" [multi]="true">
  <mat-expansion-panel class="d-flex flex-column mb-0">
    <mat-expansion-panel-header class="flex-shrink-0">
      <mat-panel-title>Tools</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="d-flex flex-column">
      <button mat-raised-button class="mb-1" (click)="sendAlert()">Send alert</button>
      <button mat-raised-button class="mb-1" (click)="sendSound(SoundType.MELEE_SWORD)">Melee attack</button>
      <button mat-raised-button class="mb-1" (click)="sendSound(SoundType.BOW)">Bow attack</button>
      <button mat-raised-button class="mb-1" (click)="sendSound(SoundType.POTION)">Drink potion</button>
      <button mat-raised-button class="mb-1" [matMenuTriggerFor]="menu">Misc</button>
      <mat-menu #menu="matMenu" yPosition="above" xPosition="after" [overlapTrigger]="true">
        <button mat-menu-item (click)="sendSound('ghost.wav')">Ghost</button>
        <button mat-menu-item (click)="sendSound('monster_breath.wav')">Evil breath</button>
      </mat-menu>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="d-flex flex-column">
    <mat-expansion-panel-header class="flex-shrink-0">
      <mat-panel-title>Monsters</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="d-flex flex-column">
      <div *ngFor="let monster of monsters"
           class="d-flex flex-column align-items-center p-1 mb-2"
           [class.selected]="selectedItem && monster.layerItemId === selectedItem.id">
        <mat-card-subtitle>{{monster.name}} n°{{monster.index}}</mat-card-subtitle>
        <div class="d-flex align-items-center">
          <img [src]="'assets/monster/' + monster.name + '.jpg'" width="150px" (click)="selectMonster.emit(monster.layerItemId)">
          <mat-form-field class="mx-2" style="max-width: 50px">
            <mat-label>HP</mat-label>
            <input matInput [(ngModel)]="monster.hp" type="number" min="0">
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
