<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-4">
  <mat-form-field>
    <mat-label for="username">{{ "login.username" | translate }}</mat-label>
    <input matInput id="username" type="text" formControlName="username" />
    <mat-error>{{ "login.username-required" | translate }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="password">{{ "login.password" | translate }}</mat-label>
    <input matInput id="password" type="password" formControlName="password" />
    <mat-error>{{ "login.password-required" | translate }}</mat-error>
  </mat-form-field>

  <button matButton="elevated" [disabled]="loading">{{ "login.login" | translate }}</button>
</form>
