<h3 class="m-2">History !</h3>
<ul role="list">
  <li role="listitem" *ngFor="let log of logs" [ngSwitch]="log.type">
    <ng-container *ngSwitchCase="AdventureLogType.ATTACK">
      <span class="mdi mdi-sword-cross mdi-large"></span>
      {{'adventure.log.attack' | translate:{from: log.from | equipmentFormat, to: log.to | equipmentFormat} }}
    </ng-container>

    <ng-container *ngSwitchCase="AdventureLogType.DIE">
      <span class="mdi mdi-skull mdi-large"></span>
      {{'adventure.log.die' | translate:{from: log.from | equipmentFormat} }}
    </ng-container>

    <ng-container *ngSwitchCase="AdventureLogType.OPEN_CHEST">
      <span class="mdi mdi-treasure-chest mdi-large"></span>
      <ng-container *ngIf="log.fromId">
        {{'adventure.log.accept-chest' | translate:{
        from: log.from | equipmentFormat,
        fromId: log.fromId | equipmentFormat
      } }}
      </ng-container>
      <ng-container *ngIf="!log.fromId">
        <ng-container *ngIf="log.to">
          {{'adventure.log.trapped-chest' | translate:{from: log.from | equipmentFormat, to: log.to | equipmentFormat} }}
        </ng-container>
        <ng-container *ngIf="!log.to">
          {{'adventure.log.refuse-chest' | translate:{from: log.from | equipmentFormat} }}
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="AdventureLogType.SWITCH">
      <span class="mdi mdi-sack mdi-large"></span>
      {{'adventure.log.switch' | translate:{from: log.from | equipmentFormat, fromId: log.fromId | equipmentFormat} }}
      <ng-container *ngIf="log.toId">
        {{'adventure.log.switch-with' | translate:{toId: log.toId | equipmentFormat} }}
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="AdventureLogType.TRADE">
      <span class="mdi mdi-hand-heart mdi-large"></span>
      <ng-container *ngIf="log.fromId">
        <ng-container *ngIf="log.toId">
          {{'adventure.log.trade-full' | translate:{
          from: log.from, fromId: log.fromId | equipmentFormat,
          to: log.to, toId: log.toId | equipmentFormat
        } }}
        </ng-container>
        <ng-container *ngIf="!log.toId">
          {{'adventure.log.trade-one-way' | translate:{
          from: log.from,
          fromId: log.fromId | equipmentFormat,
          to: log.to
        } }}
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!log.fromId">
        <ng-container *ngIf="log.toId">
          {{'adventure.log.trade-one-way' | translate:{
          from: log.to,
          fromId: log.toId | equipmentFormat,
          to: log.from
        } }}
        </ng-container>
        <ng-container *ngIf="!log.toId">
          {{'adventure.log.trade-nothing' | translate:{from: log.from, to: log.to} }}
        </ng-container>
      </ng-container>
    </ng-container>
  </li>
</ul>
