<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu" (close)="closeMenu.emit()">
  <ng-template matMenuContent let-item="item">
    <ng-container *ngIf="item.type === LayerElementType.MONSTER">
      <button mat-menu-item (click)="attackMonster(item)" [disabled]="">
        <span class="mdi mdi-sword-cross mdi-large"></span>
        Attack
      </button>
    </ng-container>
    <ng-container *ngIf="item.type === LayerElementType.CHARACTER">
      <button mat-menu-item *ngIf="canMove(item)" (click)="startMove(item)">
        <span class="mdi mdi-shoe-print mdi-large"></span>
        {{'adventure.context-menu.move' | translate}}
      </button>
      <ng-container *ngIf="isCharacterMove">
        <button mat-menu-item (click)="resetMove(item)">
          <span class="mdi mdi-shoe-print mdi-large"></span>
          {{'adventure.context-menu.move-reset' | translate}}
        </button>
        <button mat-menu-item (click)="validateMove(item)">
          <span class="mdi mdi-shoe-print mdi-large"></span>
          {{'adventure.context-menu.move-validate' | translate}}
        </button>
      </ng-container>
      <ng-container *ngIf="!isCharacterMove">
        <button mat-menu-item (click)="attackCharacter(item)" [disabled]="authService.isGM && !selectedMonsterId">
          <span class="mdi mdi-sword-cross mdi-large"></span>
          {{'adventure.context-menu.attack' | translate}}
        </button>
        <button mat-menu-item *ngIf="canTradeWith(item)" (click)="askTrade(item)">
          <span class="mdi mdi-hand-heart mdi-large"></span>
          {{'adventure.context-menu.trade' | translate}}
        </button>
        <button mat-menu-item *ngIf="canSwitchEquipment(item)" (click)="askSwitch(item)">
          <span class="mdi mdi-sack mdi-large"></span>
          {{'adventure.context-menu.switch-equipment' | translate}}
        </button>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="item.type === LayerElementType.TRAP">
      <button *ngIf="authService.isGM && item.shown === false && item.deactivated === false" mat-menu-item
              (click)="showTrap(item)">
        <mat-icon>visibility</mat-icon>
        {{'adventure.context-menu.show-trap' | translate}}
      </button>
    </ng-container>
    <ng-container *ngIf="item.type === LayerElementType.CHEST">
      <button *ngIf="authService.isGM" mat-menu-item (click)="setChestCard(item)">
        <mat-icon style="transform: rotate(180deg)">open_in_browser</mat-icon>
        {{'adventure.context-menu.set-card' | translate}}
      </button>
      <button mat-menu-item *ngIf="canOpenChest(item)" (click)="openChest(item)">
        <span class="mdi mdi-treasure-chest mdi-large"></span>
        {{'adventure.context-menu.open-chest' | translate}}
      </button>
    </ng-container>
    <button *ngIf="isItemFlippable(item)" mat-menu-item (click)="flipElement(item, $event)">
      <mat-icon>flip</mat-icon>
      {{'adventure.context-menu.flip' | translate}}
    </button>
    <ng-container *ngIf="authService.isGM">
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="deleteItem(item)">
        <mat-icon>delete</mat-icon>
        {{'common.delete' | translate}}
      </button>
    </ng-container>
  </ng-template>
</mat-menu>
