<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <ng-container *ngIf="item.type === LayerElementType.MONSTER">
      <button mat-menu-item (click)="attackMonster(item)" [disabled]="">
        <span class="mdi mdi-sword-cross" style="font-size: 140%; margin-right: 20px;"></span>
        Attack
      </button>
    </ng-container>
    <ng-container *ngIf="item.type === LayerElementType.CHARACTER">
      <button mat-menu-item (click)="attackCharacter(item)" [disabled]="authService.isGM && !selectedMonsterId">
        <span class="mdi mdi-sword-cross" style="font-size: 140%; margin-right: 20px;"></span>
        Attack
      </button>
      <button mat-menu-item *ngIf="canTradeWith(item)" (click)="askTrade(item)">
        <span class="mdi mdi-hand-heart" style="font-size: 140%; margin-right: 20px;"></span>
        Trade
      </button>
      <button mat-menu-item *ngIf="canSwitchEquipment(item)">
        <span class="mdi mdi-sack" style="font-size: 140%; margin-right: 20px;"></span>
        Switch equipment
      </button>
    </ng-container>
    <ng-container *ngIf="item.type === LayerElementType.TRAP">
      <button *ngIf="authService.isGM && item.shown === false && item.deactivated === false" mat-menu-item
              (click)="showTrap(item)">
        <mat-icon>visibility</mat-icon>
        Show trap
      </button>
    </ng-container>
    <ng-container *ngIf="item.type === LayerElementType.CHEST">
      <button *ngIf="authService.isGM" mat-menu-item (click)="setChestCard(item)">
        <mat-icon style="transform: rotate(180deg)">open_in_browser</mat-icon>
        Set card
      </button>
      <button mat-menu-item (click)="openChest(item)">
        <mat-icon>open_in_browser</mat-icon>
        <span class="mdi mdi-treasure-chest" style="font-size: 140%; margin-right: 20px;"></span>
        Open chest
      </button>
    </ng-container>
    <ng-container *ngIf="authService.isGM">
      <button *ngIf="authService.isGM && isItemFlippable(item.type)" mat-menu-item (click)="flipElement(item, $event)">
        <mat-icon>flip</mat-icon>
        Flip
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="deleteItem(item)">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </ng-container>
  </ng-template>
</mat-menu>
