<!-- Equipped items-->
<div class="d-flex flex-2" dragOver (drop)="addEquippedItem($event)">
  <div class="flex-grow d-flex flex-wrap justify-content-around align-items-center">
    @if (character.equippedItems.length === 0) {
      {{ "common.drag&drop" | translate }}
    } @else {
      @for (item of character.equippedItems; track $index) {
        <div style="position: relative">
          <img
            [src]="item | getCardImage"
            [alt]="item.name"
            draggable="true"
            (dragstart)="equipmentDragStartHandler($event, item)"
            width="150px"
            height="230px"
          />
          <button mat-mini-fab style="position: absolute; top: 0; left: 73px" (click)="removeEquipmentItem(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    }
  </div>
</div>

<div class="flex-1 d-flex flex-column">
  <div class="d-flex justify-content-center">
    <mat-form-field style="max-width: 8rem">
      <mat-label>{{ "campaign-creator.name" | translate }}</mat-label>
      @if (!character.displayName) {
        <mat-select (selectionChange)="selectCharacter($event)">
          @for (characterTemplate of availableCharacters; track $index) {
            <mat-option [value]="characterTemplate.displayName">
              {{ characterTemplate.displayName }}
            </mat-option>
          }
        </mat-select>
      } @else {
        <input matInput [value]="character.displayName" disabled />
      }
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-around">
    <mat-form-field style="max-width: 6rem">
      <mat-label>{{ "common.max-hp" | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="character.maxHp"
        inputmode="numeric"
        pattern="[0-9]*"
        min="0"
        autocomplete="false"
        type="number"
      />
    </mat-form-field>
    <mat-form-field style="max-width: 6rem">
      <mat-label>{{ "common.hp" | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="character.hp"
        inputmode="numeric"
        pattern="[0-9]*"
        min="0"
        autocomplete="false"
        type="number"
      />
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-around">
    <mat-form-field style="max-width: 6rem">
      <mat-label>{{ "common.max-mp" | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="character.maxMp"
        inputmode="numeric"
        pattern="[0-9]*"
        min="0"
        autocomplete="false"
        type="number"
      />
    </mat-form-field>
    <mat-form-field style="max-width: 6rem">
      <mat-label>{{ "common.mp" | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="character.mp"
        inputmode="numeric"
        pattern="[0-9]*"
        min="0"
        autocomplete="false"
        type="number"
      />
    </mat-form-field>
  </div>
  @if (character.name) {
    <img width="300px" [src]="character | getCharacterImage" [alt]="character.name" />
  }
</div>

<!-- Backpack items-->
<div class="d-flex flex-2 position-relative" dragOver (drop)="addBackPackItem($event)">
  <div class="flex-grow d-flex flex-wrap justify-content-around align-items-center">
    @if (character.backpackItems.length === 0) {
      {{ "common.drag&drop" | translate }}
    } @else {
      @for (item of character.backpackItems; track $index) {
        <div class="position-relative">
          <img
            [src]="item | getCardImage"
            [alt]="item.name"
            draggable="true"
            (dragstart)="backpackDragStartHandler($event, item)"
            width="150px"
            height="230px"
          />
          <button mat-mini-fab style="position: absolute; top: 0; left: 73px" (click)="removeBackpackItem(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    }
  </div>

  <button
    mat-raised-button
    color="accent"
    class="position-absolute mb-1 mr-1"
    style="bottom: 0; right: 0"
    (click)="deleteCharacter()"
  >
    {{ "common.delete" | translate }}
  </button>
</div>
