<mat-form-field>
  <input matInput placeholder="{{ 'common.search' | translate }}" (input)="filterChanged($event.target['value'])" />
</mat-form-field>

<mat-tree
  #tree
  [dataSource]="datasource()"
  [childrenAccessor]="childrenAccessor"
  class="overflow d-flex"
  style="background-color: unset"
>
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    draggable="true"
    (dragstart)="dragStartHandler($event, node)"
  >
    @switch (node.type) {
      @case (layerElementType.CHARACTER) {
        <img class="icon" [src]="'assets/character/' + node.name + '-token.jpg'" />
      }
      @case (layerElementType.MONSTER) {
        <img class="icon" [src]="'assets/monster/' + node.name + '-token.jpg'" />
      }
      @case (layerElementType.TRAP) {
        <img class="icon" [src]="'assets/item/' + node.name + '-activated.jpg'" />
      }
      @case (layerElementType.DOOR) {
        <img class="icon" [src]="'assets/item/door-' + node.name + '-closed.jpg'" />
      }
      @default {
        <img class="icon" [src]="'assets/item/' + node.name" />
      }
    }

    {{ node.name.split("_").join(" ") }}
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
      <mat-icon>{{ tree.isExpanded(node) ? "expand_more" : "chevron_right" }}</mat-icon>
    </button>
    {{ "adventure.item-displayer." + node.name | translate }}
  </mat-tree-node>
</mat-tree>
