<h1 mat-dialog-title>{{'adventure.dialog.draw-card.header' | translate:{char: characterName} }}</h1>

<div mat-dialog-content class="position-relative" style="width: 700px; height: 500px">
  <div id="treasurechest">
    <div id="treasurechest-top"></div>
  </div>
  <div id="treasurechest-bottom"></div>
  <div id="treasurechest-bg"></div>

  <img id="card"
       [src]="'assets/card/' + data.characterItem.type.toLowerCase() + '/' + data.characterItem.level + '/' + data.characterItem.name + '.jpg'">
</div>

<mat-dialog-actions class="d-flex justify-content-center" *ngIf="authService.isGM">
  <button mat-button (click)="this.close(false)">{{'common.cancel' | translate}}</button>
  <button mat-button (click)="this.close(true)">{{'common.validate' | translate}}</button>
</mat-dialog-actions>
