<mat-form-field style="width: 100%">
  <input matInput placeholder="Search" (input)="filterChanged($event.target.value)">
</mat-form-field>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="overflow">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                 draggable="true"
                 (dragstart)="dragStartHandler($event, node.item)">
    <img width="50px" [src]="'assets/card/' + node.item.type.toLowerCase() + '/' + node.item.level + '/' + node.item.name + '.jpg'">
    {{node.name.split('_').join(' ')}}
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
      <mat-icon>{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>
