<h1 mat-dialog-title>{{ "adventure.dialog.select-card.header" | translate }}</h1>
<div class="flex-grow d-flex flex-column flex-md-row" style="margin-right: 2em; margin-left: 2em; gap: 1em">
  <div
    class="flex-shrink-0 flex-md-grow-1 flex-md-shrink-1 d-flex justify-content-center align-items-center flex-md-basis-0"
    style="min-height: 100px"
    dragOver
    (drop)="setSelectedCard($event)"
  >
    @if (!selectedCard) {
      <span>{{ "common.drag&drop" | translate }}</span>
    } @else {
      <img [src]="selectedCard | getCardImage" style="max-width: 80%; max-height: 80%" />
    }
  </div>

  @if (allCharacterItems) {
    <app-character-item-displayer style="flex: 1; min-width: 0; min-height: 0" [characterItems]="allCharacterItems" />
  }
</div>

<mat-dialog-actions>
  <button mat-raised-button (click)="dialogRef.close()">{{ "common.cancel" | translate }}</button>
  <button mat-raised-button (click)="validateCard()">{{ "adventure.dialog.select-card.validate" | translate }}</button>
</mat-dialog-actions>
