<h1 mat-dialog-title>{{'adventure.dialog.select-card.header' | translate}}</h1>
<div class="flex-grow d-flex flex-column flex-md-row">
  <div class="flex-shrink-0 flex-md-grow-1 flex-md-shrink-1 d-flex justify-content-center align-items-center flex-md-basis-0"
       style="min-height: 100px"
       dragOver (drop)="setSelectedCard($event)">
    <span *ngIf="!selectedCard">{{'common.drag&drop' | translate}}</span>
    <img *ngIf="selectedCard" [src]="getCardImage(selectedCard)" style="max-width: 80%; max-height: 80%;">
  </div>

  <app-character-item-displayer style="flex: 1;min-width: 0;min-height: 0;"
                                *ngIf="allCharacterItems"
                                [characterItems]="allCharacterItems"></app-character-item-displayer>
</div>

<mat-dialog-actions>
  <button mat-raised-button (click)="dialogRef.close()">{{'common.cancel' | translate}}</button>
  <button mat-raised-button (click)="validateCard()">{{'adventure.dialog.select-card.validate' | translate}}</button>
</mat-dialog-actions>
