<h1 mat-dialog-title>{{'adventure.dialog.switch-equipment.header' | translate}}</h1>

<div class="flex-grow d-flex position-relative">
  <div class="flex-grow d-flex flex-column m-2">
    <h3>{{data.character.displayName}}</h3>

    <h5>{{'common.equipped' | translate}}</h5>
    <div class="flex-1 flex-grow d-flex overflow justify-content-around align-items-center">
      <img *ngFor="let equipped of data.character.equippedItems"
           width="150px" height="230px"
           alt="{{equipped.name}}"
           class="m-1"
           [class.selected]="equippedSelected && equipped.id === equippedSelected.id"
           [src]="getCardImage(equipped)"
           (click)="selectEquipment(equipped, true)">
    </div>
    <mat-divider></mat-divider>
    <h5>{{'common.backpack' | translate}}</h5>
    <div class="flex-1 flex-grow d-flex overflow justify-content-around align-items-center">
      <img *ngFor="let backpack of data.character.backpackItems"
           width="150px" height="230px"
           [class.selected]="backpackSelected && backpack.id === backpackSelected.id"
           [src]="getCardImage(backpack)"
           (click)="selectEquipment(backpack, false)">
    </div>
  </div>

  <div *ngIf="!isSwitchAuthorized()"
       class="position-absolute"
       style="width: 100%; height: 100%; background-color: rgba(0,0,0,0.2)"></div>
</div>

<mat-dialog-actions *ngIf="authService.isGM">
  <button mat-raised-button (click)="cancelSwitch()">{{'common.cancel' | translate}}</button>
  <button mat-raised-button (click)="validateSwitch()">{{'adventure.dialog.switch-equipment.validate' | translate}}</button>
</mat-dialog-actions>
