.flex-grow {
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

@media (min-width: 768px) {
  .flex-md-basis-0 {
    flex-basis: 0 !important;
  }
}
