.flex-grow {
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}
