@use "material/material";

@use "flex";

// @use "bootstrap/scss/bootstrap";
@use "bootstrap-utilities.min.css";

@use "ngx-toastr/toastr";

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  background-image: url("/assets/wallpaper/light.jpg");
}

app-root {
  background-repeat: no-repeat;
  background-size: cover;
}

.overflow {
  overflow: auto !important;
}

.overflow-y {
  overflow-y: auto !important;
}

.w-0 {
  width: 0;
}

.mw-75 {
  min-width: 75%;
}

.tooltip-inner {
  max-width: unset !important;
}

.mdi-large {
  font-size: 140% !important;
  margin-right: 20px !important;
}

.tooltip {
  z-index: 500;
  background-color: rgba($color: black, $alpha: 0.8);
  color: white;
  padding: 1em !important;
  border-radius: 8px;
}
